<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>
<p>Pokemon: 
  <% if !@pokemon.empty? %>
    <br>
    <% @pokemon.each do |p| %>
      <%= "Name: " + p.name %>
      <%= " Level: " + p.level.to_s %>
      <%= " Health: " + p.health.to_s %>
      <%= button_to "Damage!", damage_path(id: p), :class => "button small", :method => :patch %>

      <br>      
    <% end %>
  <% else %>
    <%= " Hasn't captured any pokemon" %>
  <% end %>
</p>
<% if @trainer == current_trainer %>
  <%= button_to "Create new Pokemon!", new_pokemon_path, :class => "button small", :method => :get %>
<% end %>
